@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap");
:root {
  --primary-color: #29B4F5;
  --text-color: #333;
  --secondary-text-color: #707070;
  --background-color: #fff;
  --secondary-background-color: #fff;
  --projects-background-color: rgb(255, 245, 246);
  --about-background-color: rgb(248, 248, 255);
}

[data-theme=dark] {
  --text-color: #fff;
  --secondary-text-color: #EEE;
  --background-color: #333;
  --secondary-background-color: rgb(69, 69, 69);
  --projects-background-color: rgb(255, 125, 138, 0.04);
  --about-background-color: rgb(121, 121, 255, 0.04);
}

.section-title::after, .nav__link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.nav__item i {
  width: max-content;
  font-size: 2rem;
  cursor: pointer;
}
.nav__item i:hover {
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
@media (min-width: 598px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Jost", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

section {
  padding: 4rem 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

i {
  color: var(--text-color);
}

h1, h2 {
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
  line-height: 32px;
}

img {
  width: 100%;
}

button {
  border: none;
  background: transparent;
  font-family: "montserrat", sans-serif;
  outline: none;
}

.nav {
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: var(--secondary-background-color);
  box-shadow: 0px 0px 30px rgba(69, 69, 69, 0.09);
  z-index: 2;
}
.nav .flex {
  justify-content: space-between;
}
.nav__menu {
  position: relative;
}
@media (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 4rem;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 2rem;
    background-color: var(--secondary-background-color);
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: 2.5rem;
}
.nav__item i {
  margin-right: 1rem;
}
.nav__link {
  position: relative;
  font-size: 1.25rem;
}
.nav__link:after {
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  -webkit-transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  width: 100%;
  transition: transform 250ms;
  -webkit-transition: transform 250ms;
}
.nav__link:hover:after {
  transform: translateX(-50%) scaleX(1);
  -webkit-transform: translateX(-50%) scaleX(1);
}
.nav__logo {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.active::after {
  transform: translateX(-50%) scaleX(1);
}

.show {
  right: 0;
  margin: 0 auto;
}

.home {
  height: calc(92vh);
  margin: 0;
}
.home .flex {
  justify-content: flex-start;
}
.home__title {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}
.home__title-color {
  color: var(--primary-color);
}

.about {
  position: relative;
  margin-bottom: 30px;
}
.about .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.about .card {
  border-radius: 16px;
  box-shadow: 0px 4px 30px rgba(20, 20, 20, 0.12);
  color: var(--secondary-text-color);
}
.about__skills {
  flex-wrap: wrap;
}
.about__skills .skill {
  margin: 0.5rem;
}
.about__skills .skill p {
  text-align: center;
  margin: 0;
  font-size: 10px;
  line-height: 1.2;
}
.about__skills .skill i {
  font-size: 2rem;
  color: var(--secondary-text-color);
}
.about__skills .skill:hover {
  color: var(--primary-color);
}
.about__skills .skill:hover i {
  color: var(--primary-color);
}
.about__section-background {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 60%;
  height: 50%;
  max-height: 100%;
  min-height: 300px;
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
  background-color: var(--about-background-color);
}

.projects {
  margin-bottom: 60px;
  position: relative;
}
.projects .grid {
  gap: 10px;
  padding: 10px;
}
.projects .card {
  position: relative;
  padding: 0;
  min-height: 350px;
}
.projects .card img {
  object-fit: cover;
  width: 100%;
  height: 350px;
  padding: 0;
  display: block;
  border-radius: 10px;
}
.projects .card .project__info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: all 0.4s ease 0s;
  opacity: 0;
  padding: 16px;
  color: #ffffff;
}
.projects .card .project__info h3 {
  font-size: 0.938rem;
  color: #fff;
}
.projects .card .project__info .project__description {
  color: #fafafa;
  font-weight: 400;
}
.projects .card .project__info .project__footer {
  font-size: 0.8rem;
  text-align: right;
  margin-top: 1rem;
}
.projects .card:hover .project__info {
  transform: translate(16px, 16px);
  opacity: 0.9;
}
.projects .card.project__info {
  transition: all 0.9s ease-in-out 0s;
}
.projects__section-background {
  position: absolute;
  left: auto;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: -1;
  width: 70%;
  min-height: 470px;
  border-top-left-radius: 55px;
  border-bottom-left-radius: 55px;
  background-color: var(--projects-background-color);
  height: 100%;
}

.footer {
  padding: 2rem 0;
  font-size: 12px;
}

.scroll-top {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 135px;
  height: 135px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.scroll-top button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  box-shadow: 11px 11px 20px 0 rgba(19, 15, 73, 0.05);
  cursor: pointer;
}
.scroll-top button i {
  color: var(--text-color);
  font-size: 1.25rem;
}

.scroll-top.show {
  visibility: visible;
  opacity: 1;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding: 20px;
  /* Modal Content/Box */
  /* The Close Button */
}
.modal__content {
  position: relative;
  background-color: var(--secondary-background-color);
  margin: 5% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  max-width: 768px;
  width: 100%;
}
.modal__header {
  text-align: center;
  font-weight: 300;
  color: var(--secondary-text-color);
}
.modal__body {
  padding: 20px 24px;
  border-radius: 4px;
}
.modal__close {
  display: flex;
  position: absolute;
  top: -1rem;
  right: -0.75rem;
  background-color: var(--background-color);
  float: right;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.modal__close i {
  color: #aeb5bc;
}
.modal__close:hover, .modal__close:focus {
  background-color: #ee7470;
  text-decoration: none;
  cursor: pointer;
}
.modal__close:hover i, .modal__close:focus i {
  color: #fff;
}

label {
  display: flex;
  flex-direction: column;
  width: 34px;
  cursor: pointer;
}

label span {
  background: var(--text-color);
  border-radius: 10px;
  height: 4px;
  margin: 3px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1) {
  width: 50%;
}

span:nth-of-type(2) {
  width: 100%;
}

span:nth-of-type(3) {
  width: 75%;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4.5px, -0.5px);
}

input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(15px, -6px) rotatez(45deg);
}

.button {
  display: inline-block;
  width: 100%;
  color: #fff;
  padding: 1rem 2.8rem;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px 0;
  transition: transform 0.2s ease-out;
  font-size: 16px;
}
.button:hover {
  transform: translateY(-2px);
}

.button-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.button-secondary {
  background-color: var(--secondary-background-color);
  color: var(--primary-color);
  box-shadow: 0px 4px 20px rgba(60, 60, 60, 0.1);
}

.container {
  max-width: 1100px;
  padding: 0 22px;
  margin: 0 auto;
  overflow: auto;
}

.card {
  background-color: var(--secondary-background-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(20, 20, 20, 0.1);
  padding: 20px;
  margin: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section-title {
  position: relative;
  color: var(--primary-color);
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.section-title::after {
  width: 64px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .nav__list {
    display: flex;
  }
  .nav__item {
    margin: 0 0.5rem;
    margin-bottom: 0;
  }
  .nav__item i {
    font-size: 0.938rem;
    margin-right: 0.5rem;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    font-size: 0.938rem;
  }

  .button {
    width: auto;
    margin: 10px;
  }
}
@media (min-width: 1024px) {
  .projects .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
