
%button{
    display: inline-block;
    color: #fff;
    padding: .85rem 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.2s ease-out;
    font-weight: 600;

    &:hover{
        transform: translateY(-2px);
    }
}

.button-primary {
    @extend %button;
    background-color: color(primary);
    color:#fff;
}

.button-secondary {
    @extend %button;
    border: 2px color(primary) solid;
    color: color(primary);
}