@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

// https://www.youtube.com/watch?v=4mu1vbEz9WM&t=2167s
.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-1 {
    width: 30px;
    height: 30px;
    border: 4px solid rgb(121, 121, 255, 0.8);;
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}

.effect-2 {
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}

.effect-3 {
    height: 180px;
    width: 180px;
    border: 18px solid color(primary);
    opacity: 0.8;
    border-radius: 50%;
    left: 50%;
    top: -40px;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-4 {
    border-top: 30px solid transparent;
    border-left: 30px solid rgba(255, 125, 138, 0.8);
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}

.effect-4:before {
    content: '';
    position: absolute;
    opacity: 0.5;
    border-top: 30px solid transparent;
    border-left: 30px solid rgba(255, 125, 138, 0.8);
    left: -35px;
    top: -25px;
}

.effect-5 {
    height: 60px;
    width: 60px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.effect-5 div {
    width: 1px;
    background-color: rgba(255, 125, 138, 0.8);
}

.effect-6 {
    visibility: hidden;
    @media(min-width: 768px){
        visibility: visible;
        font-family: 'Nothing You Could Do', cursive;
        font-size: 45vw;
        color: color(primary);
        opacity: 0.2;
        transform: rotate(15deg);
        right: 5rem;
        top: 0;
        font-size: 45vw;
        span {
            letter-spacing: -5.5rem;
        }
        @media(min-width: 1000px){
            font-size: 40vw;
            top: -1rem;
        }
        @media(min-width: 1500px){
            font-size: 35vw;
            top: -2rem;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes topBounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }
}

@keyframes leftBounce {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(25px);
    }
}