
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 20px;

    /* Modal Content/Box */
    &__content {
        position: relative;
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        border-radius: 8px;
        max-width: 768px;
        width: 100%;
    }

    &__header {
        text-align: center;
        font-weight: 300;
        color: rgb(108, 108, 108)
    }
  
    &__body {
      /* max-height: 1200px; */
      padding: 20px 24px;
      border-radius: 4px;
      background-color: white;
    }
    
    /* The Close Button */
    &__close {
        display: flex;
        position: absolute;
        top: -1rem;
        right: -0.75rem;
        background-color: #fff;
        float: right;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        i {
            color: rgb(174, 181, 188);
        }
    
        &:hover,
        &:focus {
            background-color: rgb(238, 116, 112);
            text-decoration: none;
            cursor: pointer;

            i {
                color: #fff;
            }
        }
    }
  }
  
