.container {
    max-width: 1100px;
    padding: 0 22px;
    margin: 0 auto;
    overflow: auto;
}

.card {
    background-color: color(secondary-background);
    color: color(text);
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(20, 20, 20, 0.1);
    padding: 20px;
    margin: 10px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section-title{
    position: relative;
    color: color(primary);
    margin-top: $m-2;
    margin-bottom: $m-4;

    &::after{
        @extend %active-nav-item;
        width: 64px;
    }
}
