@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;

    @media(min-width: 598px) {
        font-size: 18px;
    }
    @media(min-width: 768px) {
        font-size: 20px;
    }
}

body {
    font-family: 'Jost', sans-serif;
    color: color(text);
    background-color: color(background);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: color(text);
}

i {
    color: color(text);
}

h1, h2 {
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    line-height: 32px;
}

img {
    width: 100%;
}

button {
    border: none;
    background: transparent;
    font-family: 'montserrat', sans-serif;
    outline: none;
}


// Nav
.nav {
    position: fixed;
    height: $header-height;
    width: 100%;
    background-color: color(secondary-background);
    box-shadow: 0px 0px 30px rgba(69, 69, 69, 0.09);
    z-index: 2;

    .flex {
        justify-content: space-between;
    }

    &__menu {
        position: relative;
        @media(max-width: 768px) {
            position: fixed;
            top: $header-height;
            right: -100%;
            width: 70%;
            height: 100%;
            padding: 2rem;
            background-color: color(secondary-background);
            transition: .5s;
        }
    }

    &__item {
        margin-bottom: $m-5;

        i {
            @extend %icon;
            margin-right: $m-2;
        }
    }

    &__link {
        position:relative;
        font-size: $md;

        &:hover {
            position: relative;

            &:after {
                @extend %active-nav-item;
            }
        }
    }
    &__logo {
        font-size: $md;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.active::after {
    @extend %active-nav-item;
}

.show {
    right: 0;
    margin: 0 auto;
}

// Home
.home {
    height: calc(100vh - 4rem); //$header-height = 4rem
    margin: 0;
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-position: center;
    width: 100%;

    .flex {
        justify-content: flex-start;
    }

    &__title {
        font-size: $xl;
        margin-bottom: $m-5;

        &-color {
            color: color(primary);
        }
    }
}

// About
.about {
    margin-top: -130px;
    margin-bottom: 30px;
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .card {
        border-radius: 16px;
        box-shadow: 0px 4px 30px rgba(20, 20, 20, 0.12);
        color: color(secondary-text);
    }
    &__skills {
        flex-wrap: wrap;
        
        .skill {
            margin: $m-1;
            p {
                text-align: center;
                margin: 0;
                font-size: 10px;
                line-height: 1.2;
            }
            i {
                font-size: $xl;
                color: color(secondary-text);
            }

        }
        .skill:hover {
            i {
                color: color(primary);
            }
            color: color(primary);
        }
    }
}

// Projects
.projects {
    .project {
        h4 {
            font-size: $lead;
        }
        &__description {
            color: color(secondary-text);
        }

        &__footer {
            color: color(secondary-text);
            font-size: $sm;
            text-align: right;
            margin-top: $m-2;
        }
    }
    
}

// Footer
.footer {
    padding: $m-4 0;
    font-size: 12px; // ? Should I keep it with rems or px?
}

// @import 'background';
@import 'menu';
@import 'button';
@import 'utilities';
@import 'desktop';