@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');

@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;

    @media(min-width: 598px) {
        font-size: 18px;
    }
    @media(min-width: 768px) {
        font-size: 20px;
    }
}

body {
    font-family: 'Jost', sans-serif;
    color: color(text);
    background-color: color(background);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: color(text);
}

i {
    color: color(text);
}

h1, h2 {
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    line-height: 32px;
}

img {
    width: 100%;
}

button {
    border: none;
    background: transparent;
    font-family: 'montserrat', sans-serif;
    outline: none;
}


// Nav
.nav {
    position: fixed;
    height: $header-height;
    width: 100%;
    background-color: color(secondary-background);
    box-shadow: 0px 0px 30px rgba(69, 69, 69, 0.09);
    z-index: 2;

    .flex {
        justify-content: space-between;
    }

    &__menu {
        position: relative;
        @media(max-width: 768px) {
            position: fixed;
            top: $header-height;
            right: -100%;
            width: 70%;
            height: 100%;
            padding: 2rem;
            background-color: color(secondary-background);
            transition: .5s;
        }
    }

    &__item {
        margin-bottom: $m-5;

        i {
            @extend %icon;
            margin-right: $m-2;
        }
    }

    &__link {
        position:relative;
        font-size: $md;

        &:hover {
            position: relative;

            &:after {
                @extend %active-nav-item;
            }
        }
    }
    &__logo {
        font-size: $md;
        font-weight: 600;
        letter-spacing: 1px;
    }
}

.active::after {
    @extend %active-nav-item;
}

.show {
    right: 0;
    margin: 0 auto;
}

// Home
.home {
    height: calc(100vh);
    margin: 0;
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-position: center;
    width: 100%;

    .flex {
        justify-content: flex-start;
    }

    &__title {
        font-size: $xl;
        margin-bottom: $m-5;

        &-color {
            color: color(primary);
        }
    }
}

// About
.about {
    margin-top: -130px;
    margin-bottom: 30px;
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .card {
        border-radius: 16px;
        box-shadow: 0px 4px 30px rgba(20, 20, 20, 0.12);
        color: color(secondary-text);
    }
    &__skills {
        flex-wrap: wrap;
        
        .skill {
            margin: $m-1;
            p {
                text-align: center;
                margin: 0;
                font-size: 10px;
                line-height: 1.2;
            }
            i {
                font-size: $lg;
                color: color(secondary-text);
            }

        }
        .skill:hover {
            i {
                color: color(primary);
            }
            color: color(primary);
        }
    }
}

// Projects
.projects {
    margin-bottom: 60px;
    .grid {
        gap: 0;
        padding: 20px;
    }
    .card {
        position: relative;
        padding: 0;
        min-height: 350px;

        img {
            object-fit: cover;
            width: 100%;
            height: 350px;
            padding: 0;
            display: block;
            border-radius: 10px;
        }
        .project__info {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: color(primary);
            border-radius: 10px;
            transition: all 0.4s ease 0s;
            opacity: 0;
            padding: 16px;
            color: #ffffff;

            h4 {
                font-size: $lead;
                color: #fff;
            }

            button {
                border-color: #fff;
                color: #fff;
            }
            .project__description {
                color: #fafafa;
                font-weight: 400;
            }
    
            .project__footer {
                font-size: $sm;
                text-align: right;
                margin-top: $m-2;
            }
        }

        &:hover {
            .project__info {
                transform: translate(16px, 16px);
                opacity: .9;
            }
        }
    }
    .card.project__info {
        transition: all 0.9s ease-in-out 0s;
    }
    
}

// Footer
.footer {
    padding: $m-4 0;
    font-size: 12px; // ? Should I keep it with rems or px?
}

// Scroll Top button
.scroll-top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 135px;
    height: 135px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 66px;
        height: 66px;
        border-radius: 50%;
        background-color: color(secondary-background);
        box-shadow: 11px 11px 20px 0 rgba(19, 15, 73, .05);
        cursor: pointer;

        i {
            color: color(text);
            font-size: $md;
        }
    }
}

.scroll-top.show{
    visibility: visible;
    opacity: 1;
}

@import 'modal';
@import 'menu';
@import 'button';
@import 'utilities';
@import 'desktop';